config msg 'msg'
    option preme 64
    option timeout 5
    option addrcount 8000
    option plen 5
    option txpow 10
    option max_count 0

config spi 
    option bus 3
    option device '/dev/spidev3.0'
    list freq 470300000
    list sf 7

config spi 
    option bus 3
    option device '/dev/spidev3.1'
    list freq 470500000
    list sf 7

config spi 
    option bus 3
    option device '/dev/spidev3.2'
    list freq 470700000
    list sf 7

config spi 
    option bus 4
    option device '/dev/spidev4.0'
    list freq 470900000
    list sf 7

config spi 
    option bus 4
    option device '/dev/spidev4.1'
    list freq 471100000
    list sf 7

config spi 
    option bus 4
    option device '/dev/spidev4.2'
    list freq 471300000
    list sf 7

config spi 
    option bus 5
    option device '/dev/spidev5.0'
    list freq 471500000
    list sf 7

config spi 
    option bus 5
    option device '/dev/spidev5.1'
    list freq 471700000
    list sf 7